<div class="container">
    <img src="/common/logo2.png" alt="Logo" class="logo">
    <div class="register-form">
        <h2>Review a Restaurant now!</h2>
        <!-- <form name="registration" onsubmit="return validateForm();"> -->
        <form name="registration" action="view_home" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Your Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">

            <!-- <input type="submit" value="Register"> -->
        </form>
        <!-- <a href="view_home">Register</a> -->
        <button onclick="alert('This feature is not yet available.'); window.location.href='/view_home';">Register</button>
    </div>
</div>